.App {
  text-align: center;
}

*{
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: url("background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}

footer{
  margin-top: 50px;
}