.main-header {
    height: 120%;
    min-height: 200px;
    background-position: center 50%;
    text-align: center;
    background-image: url(../../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.main-header__title {
    margin-top: 20%;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-family: Poppins, sans-serif;
}

