.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 5px solid chocolate;
    background-color: white;
}

.logoContainer{
    display: flex;
    height: 100%;
    width: 30%;
    background-image: url('../../images/cupCakesLogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}