.card-list {

    margin-bottom: 100px;

    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.card-list__item {
    width: 42%;
    min-height: 70px;
    min-width: 400px;
    margin-top:50px;
}

