html, body {
	margin: 0;
	background-color: #f6fbfb;
}

* {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}
.active {
	color: orange;
}
.active > div,
.active div >  h5 {
	color: orange;
}