<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>private cabinet</title>
    <link href="private_cabinet_form.css" rel="stylesheet">
</head>
<body>

<form class="signUpForm">
    <fieldset>
        <legend>Регистрация</legend>
    <table>
        <tr>
            <td>Логин:</td>
            <td>
                <input name="login" class="log" type="text">
            </td>
        </tr>
        <tr>
            <td>Почта:</td>
            <td>
                <input name="email" class="email" type="email">
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <input name="password" class="pass" type="password">
            </td>
        </tr>
        <tr>
            <td>Повторите пароль:</td>
            <td>
                <input name="passwordConfirm" type="password">
            </td>
        </tr>
    </table>
    <input class="sub-form" type="button" value="Отправить">
    </fieldset>
</form>
<form class="signInForm">
    <fieldset>
        <legend>Вход</legend>
    <table>
        <tr>
            <td>Логин:</td>
            <td>
                <input name="loginIn" class="logEntr" type="text">
            </td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>
                <input name="passwordIn" class="passEntr" type="password">
            </td>
        </tr>
    </table>
    <input class="sub-formEnt" type="button" value="Отправить">
    </fieldset>
</form>
<script src="private_cabinet_form.js"></script>
</body>
</html>