nav img {
	width: 100px;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

#login-form {
	overflow: initial;
	max-width: 500px;
	margin: 25px auto 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}

#register-form {
	overflow: initial;
	max-width: 500px;
	margin: 25px auto 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}

/* Service component */
.service {
	cursor: pointer;
	min-height: 100px;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "service service service ." ". . . ." ". . . price";
	/*grid-column-gap: 5px;*/
	/*grid-row-gap: 10px;*/
	justify-items: center;
	align-items: center;
	transition: all .4s;
	/*outline: 1.4px solid white;*/
	max-width: 700px;
	margin: 0 auto 15px;
}

.service:hover {
	/*outline: 1.4px solid #790f6a;*/
	/*	box-shadow:
		1px 0px 2px 1px #790f6a,
		0px 1px 2px 1px #790f6a,
		-1px 0px 2px 1px #790f6a,
		0px -1px 2px 1px #790f6a;*/
	box-shadow: 0 0 2px 2px #790f6a;
}

.service-name {
	grid-area: service;
	font-size: 3em;
	color: #790f6a;
	/*background-color: rgba(225, 53, 222, 0.1);*/
	/*text-shadow: 0 0 6px #ffffff;*/
	text-shadow: 1px 0px 2px #ffffff,
	0px 1px 2px #ffffff,
	-1px 0px 2px #ffffff,
	0px -1px 2px #ffffff;
	/*justify-self: stretch;*/
	align-self: stretch;
}

.service-price {
	grid-area: price;
	font-size: 2.5em;
	color: #000;
	background-color: rgba(225, 225, 225, 0.5);
	justify-self: end;
	/*align-self: end;*/
	text-align: right;
	padding: 10px;
	border-radius: 50%;
	margin: 10px;
}

/* End Service component */

/* Time component */
.time {
	cursor: pointer;
}

/* Summary component*/
#summary {
	font-size: 1.2em;
	border-bottom: 1px solid #790f6a;
	margin: 0 0 15px;
	padding: 10px;
	color: #790F6A;
}

#summary p:first-child {
	font-weight: 600;
}

/* End Summary Component */

/* Days & Times components*/
#dates {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.date {
	cursor: pointer;
	width: 80px;
	height: 80px;
	transition: all .4s;
	border: 1px solid #790f6a;
	font-weight: 600;
	margin: 10px;
}

.date:hover {
	box-shadow: 0 0 2px 2px #790f6a;
}

.date p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.time {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* End Days&Times Components */



/* Success component*/
#success {
	color: #57831e;
	font-weight: 600;
}

/* End Success Component */

/* Error component*/
#error {
	color: red;
	font-weight: 600;
}

/* End Error Component */

/* Record component*/
#record span:first-child {
	padding-right: 10px;
}

/* End Record Component */

/* Main component */
#main h2 {
	text-align: center;
	margin: 20px auto;
	/*max-width: 20em;*/
	/*background-color: rgba(255, 255, 255, 0.9);*/
	color: #790f6a;
	text-shadow: 1px 0px 2px #ffffff,
	0px 1px 2px #ffffff,
	-1px 0px 2px #ffffff,
	0px -1px 2px #ffffff;
}

#main span {
	font-weight: 600;
}

#main .contacts {
	background-color: rgba(255, 255, 255, 0.9);
	max-height: 10em;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}

#main .contacts p {
	/*line-height: 1em;*/
	padding: 10px 0;
	margin: 0;
}

#main .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (min-width: 1100px) {
	#main .content {
		width: 1100px;
		margin: 0 auto;
	}
}

/* End Main component */

/* Resetting unnecessary bootstrap styling*/
@media (min-width: 768px) {
	.container {
		max-width: initial;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: initial;
	}
}

.page-content {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-image: url("/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.services-content {
	/*height: 100%;*/
	/*width: 100vw;*/
	/*background-color: lightgray;*/
	/*position: center;*/
	/*position: absolute;*/
}

.loading {
	position: relative;
	top: 25vh;
	margin: 0 auto;
	max-width: 600px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	font-size: 1.1em;
	text-align: center;
}



