/* 0-0 very strange behavior, does not work */
/*html {*/
  /*background: url("/img/background.png") no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
/*}*/


/* Code should be
<img src="/img/background.png" class="bg1-0">
in this case */
/* Works but looks ugly*/
/*img.bg1-0 {
  !* Set rules to fill background *!
  min-height: 100%;
  min-width: 1024px;

  !* Set up proportionate scaling *!
  width: 100%;
  height: auto;

  !* Set up positioning *!
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}
@media screen and (max-width: 1024px) { !* Specific to this particular image *!
  img.bg1-0 {
    left: 50%;
    margin-left: -512px;   !* 50% *!
  }
}*/

/* white line at bottom*/
/*#bg2-0 {
  position: fixed;
  top: 0;
  left: 0;

  !* Preserve aspet ratio *!
  min-width: 100%;
  min-height: 100%;
  z-index: -100;

}*/

/* looks like a perfect solution */
#bg2-1 {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100; /* will not work without this, but there is nothing about it in the guide*/
}
#bg2-1 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


nav img {
	width: 100px;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

#login-form {
	overflow: initial;
	max-width: 500px;
	margin: 25px auto 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}

#register-form {
	overflow: initial;
	max-width: 500px;
	margin: 25px auto 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
}



/* Time component */
.time {
	cursor: pointer;
}





/* Success component*/
#success {
	color: #57831e;
	font-weight: 600;
}

/* End Success Component */

/* Error component*/
#error {
	color: red;
	font-weight: 600;
}

/* End Error Component */

/* Record component*/
#record span:first-child {
	padding-right: 10px;
}

/* End Record Component */

/* Main component */
#main h2 {
	text-align: center;
	margin: 20px auto;
	/*max-width: 20em;*/
	/*background-color: rgba(255, 255, 255, 0.9);*/
	color: #790f6a;
	text-shadow: 1px 0px 2px #ffffff,
	0px 1px 2px #ffffff,
	-1px 0px 2px #ffffff,
	0px -1px 2px #ffffff;
}

#main span {
	font-weight: 600;
}

#main .contacts {
	background-color: rgba(255, 255, 255, 0.9);
	max-height: 10em;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}

#main .contacts p {
	/*line-height: 1em;*/
	padding: 10px 0;
	margin: 0;
}

#main .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (min-width: 1100px) {
	#main .content {
		width: 1100px;
		margin: 0 auto;
	}
}

/* End Main component */

/* Resetting unnecessary bootstrap styling*/
@media (min-width: 768px) {
	.container {
		max-width: initial;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: initial;
	}
}

html {

}

.page-content {
	/*height: 100vh;*/
	/*width: 100vw;*/
	/*position: fixed;*/
	/*background-image: url("/img/background.png");*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}

.services-content {
	/*height: 100%;*/
	/*width: 100vw;*/
	/*background-color: lightgray;*/
	/*position: center;*/
	/*position: absolute;*/
}

.loading {
	position: relative;
	top: 25vh;
	margin: 0 auto;
	max-width: 600px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	font-size: 1.1em;
	text-align: center;
}




