<div class="order-form">
  <app-alert [alert]="error"></app-alert>
  <form name="orderForm" (ngSubmit)="makeOrder()" #orderForm="ngForm">
    <div class="main">
      <div class="field">
        <p>Вид работы:</p>
        <select [(ngModel)]="order.service" name="service">
          <option *ngFor="let service of services">{{service.description}}</option>
          <option [ngValue]="undefined" hidden selected> Выберите услугу</option>
        </select>
      </div>
      <div class="field">
        <p>Мастер:</p>
        <select [(ngModel)]="order.master" name="master">
          <option *ngFor="let master of masters">{{master.name}}</option>
          <option [ngValue]="undefined" hidden selected> Выберите мастера</option>
        </select>
      </div>
      <div class="field">
        <p>Дата:</p>
        <!-- Date input doesn't work in Firefоx, https://github.com/angular/material/issues/2133 -->
        <input type="datetime-local" [(ngModel)]="order.date" name="date">
      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-custom" [disabled]="isNotValid()">Записаться</button>
  </form>
</div>
