.about {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
}

.text-block {
  opacity: 0.9;
  height: 400px;
  background-color: white;
  overflow-y: scroll;
  border: 2px double grey;
}

.text-block p {
  margin: 10px;
}

img {
  float: left;
  width: 400px;
  margin: 10px;
}

.container {
  margin-bottom: 20px;
}
