<div class="about">
  <h3 class="title">Наше заведение: </h3>
  <div class="text-block">
    <img src="assets/barb-main.jpg" alt="Хорошее заведение">
    <p> &nbsp; &nbsp; Что такое барбершоп и как они появились? Первые чисто мужские парикмахерские появились в Америке и Европе
      примерно в 18 веке, уже тогда мастера стрижек поделились на два направления: одни работали с женщинами, другие
      же предпочли чисто мужские услуги: укладки и стрижки волос, стрижки бороды и усов которые в том время были очень
      популярны. Название барбершоп, происходит от латинского слова «Barba», что означает - борода. Отличительной
      чертой мужских парикмахерских являлось полное отсутствие женщин, как среди клиентов, так и среди мастеров.
      Более того, в те время в барбершопах так же проводили незначительные медицинские манипуляции. Это было удаление
      зубов, банки, мелкие хирургические операции, а так же очень популярная на то время процедура кровопускания.
      Именно кровопускание символизирует знаменитый барберпол - символ барбершопов который можно встретить сейчас на
      каждом таком заведении. Это вращающаяся трехцветная труба, синий цвет символизирует вены, красный – кровь, а
      белый это цвет стерильности. Даже во времена запрета на проведение таких манипуляций цирюльники продолжали
      проводить их, особенно в небольших городах, где медицина была не развита. Практика подобных манипуляций была
      прекращена примерно в 1850 году, тогда мужские мастера оставили в своих услугах только стрижки волос на голове
      и их укладки, стрижки бороды и усов. К концу 19 века парикмахерские развивались бешеными темпами, уже в каждом,
      даже не большом городке можно было встретить цирюльню. В 1886 году был основан профсоюз барберов -Barbers'
      Protective Union en Columbus, Ohio, и в 1887 г. Journeymen Barbers International Union in Buffalo, New York.
      Вместе с появлением профсоюзов появились и школы парикмахерского искусства, в которых проводились обучения.
      Уже в начале 20 века к объединениям цирюльников подключились анатомы, биологи и химики, все вместе они трудились
      над уникальными средствами по уходу за волосами, ускорителями роста бороды, а барберы применяли их новшества
      на практике.</p>
    <p> &nbsp; &nbsp; Барбершопы и барберинг называют культурой, а сами мастера считают это образом жизни. Цирюльники постоянно
      развиваются в своем деле, посещают и сами устраивают мастер классы, показательные выступления и соревнования
      повышая уровень своих навыков. Барбер это не просто парикмахер, это хороший собеседник, который готов поддержать
      разговор на любую тему. Барбер всегда даст рекомендации по уходу за волосами, посоветует средства и укажет на
      недостатки. Посещение цирюльни становиться ритуальным событием целью, которой уже есть не только качественная
      стрижка, но и общение. Прежде всего, это мужские клубы, где собираются хорошие компании, устраивают тусовки,
      слушают музыку, выпивают и общаются.</p>
  </div>

  <h3 class="title">Наши мастера: </h3>
  <div class="container">
    <app-master class="col-lg-4" *ngFor="let master of masters" [master]="master"></app-master>
  </div>
</div>

