.main-menu {
    display: flex;
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;

    justify-content: center;

    background: rgba(25, 25, 25, .4);
    border: 5px double rgba(255, 255, 255, 0.35);
    border-radius: 5px;


}

.main-menu__item {
    list-style-type: none;
    flex: 1;
    padding: 15px 0px;
    box-sizing: border-box;
    min-height: 30px;
    font-size: calc(10px + 1vw);
    text-align: center;

    font-family: Poppins, sans-serif;
}

.main-menu__item a{
    color:#fff;
    text-decoration: none;
}

.main-menu__item:hover
{
    background-color: darkcyan;
}