<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link href="private_cabinet.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<article class="body-site">
    <header class="header">
        <nav class="nav">
            <section class="nav-list">
                <a class="list-item" href="../../index.html">Запчасти</a>
                <a class="list-item" href="../../components/service/service.html">Ремонт</a>
                <a class="list-item" href="../../components/delivery/delivery.html">Доставка</a>
                <a class="list-item" href="../../components/contacts/contacts.html">Контакты</a>
                <a class="list-item" href="../../components/about/about.html">О нас</a>
            </section>
        </nav>
        <section class="sub-header">
            <section class="sp-wrapper">
                <section class="sp-logo">
                    <img class="logo-item" src="../../img/logo.png" >
                </section>
                <section class="sp-text">
                    <p class="sp-text">Доставка по всей России
                        Принимаем звонки с 9:00 до 21:00 по Московскому времени
                        Заказы на сайте принимаются круглосуточно</p>
                </section>
                <section class="sp-phone">
                    <h2 class="phone">+7 921 183-99-66</h2>
                </section>
                <section class="sp-private">
                    <button class="sign-out">
                        <img src="../../img/signout_icon.png" alt="signOut image">
                        <p class="signOut-title">Sign Out</p>
                    </button>
                </section>
            </section>
        </section>
    </header>
    <main>
        <section class="main-section">
                <article class="block-content client-info">
                    <p class="client-data client-name"></p>
                    <p class="client-data client-company"></p>
                    <p class="client-data client-phone"></p>
                    <p class="client-data client-email"></p>
                    <p class="client-data client-number"></p>
                </article>
                <article class="block-content">
                    <h4>История Ваших запросов</h4>
                    <p class="req-data model"></p>
                    <p class="req-data year"></p>
                    <p class="req-data msg"></p>
                    <p class="req-data date"></p>
                </article>
        </section>
    </main>
    <footer>
        <section class="foot">
            <article class="foot-info">
                <h3 class="legal-address">ООО "Детали и Сервис" г. Санкт-Петербург, проспект Обуховской Обороны дом 76, корпус 7, офис 2203А</h3>
                <h3>Время работы: Понедельник-Пятница 09:00 - 19:00</h3>
                <h3>Заявки принимаются в любое время, в любой день недели!</h3>
            </article>
            <article class="contacts">
                <p class="foot-media">
                    Мы в социальных сетях:
                </p>
                <p class="contact-number">
                    тел. +7 921 183-99-66
                </p>
                <div class="social-media">
                    <img class="profile instagram" src="../../img/logos/instagram_logo.png" alt="instagram logo">
                    <img class="profile vk" src="../../img/logos/vk-logo.png" alt="vk logo">
                    <img class="profile telegram" src="../../img/logos/telegram_logo.png" alt="telegram logo">
                    <img class="profile whats-app" src="../../img/logos/whatsapp_logo.png" alt="whats-app logo">
                </div>
            </article>
        </section>
    </footer>
</article>
<script src="private_cabinet.js"></script>
</body>
</html>