/*-------------------------Header-------------------------------------------*/

@font-face {
    font-family: dinpro-light;
    src: url(../../fonts/ttf/dinpro-light.ttf) ;
}

@font-face {
    font-family: dinpro-bold;
    src: url(../../fonts/ttf/dinpro-bold.ttf);
}

@font-face {
    font-family: dinpro-regular;
    src: url(../../fonts/ttf/dinpro-regular.ttf);
}

@font-face {
    font-family: dinpro-black;
    src: url(../../fonts/ttf/dinpro-black.ttf);
}

*{
    font-family: dinpro-light;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;

}
.body-site{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-item{
    margin: 5px;

    height: 140px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: whitesmoke;
}

.nav{
    background-color: #22252b;
    display: flex;
    justify-content: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 1000px;
    height: 50px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.list-item{
    width: 100px;
    margin: 5px;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    color: whitesmoke;

}

.sub-header{
    height: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.sp-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
}

.sp-text{
    height: 150px;
    max-height: 150px;
    max-width: 310px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sp-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phone{
    font-size: 30px;
    font-family: dinpro-bold;
}

.sp-private{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.private-text{
    margin: 5px 5px 5px 10px;
    height: 100%;
    width: 100%;
    text-align: left;

    font-family: 'dinpro-regular';

}

.active-title{
    margin: 5px 5px 5px 10px;
    height: 100%;
    width: 100%;
    text-align: left;

    font-family: 'dinpro-regular';
}

.private-img{
    width: 35px;
    height: 35px;
}

.sign-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid black;
    text-decoration: none;
    border: none;
}

.active-tab{
    display: none;
    flex-direction: row;
    justify-content: space-between;

}

.active-img{
    width: 35px;
    height: 35px;
}


.signUp-div{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
}

.signIn-div{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.close{
    color: #aaa;
    float: right;
}

fieldset{
    max-width: 350px;
    border: 1px solid #7caee1;
}
span{
    color: red;
}

table{
    max-width: 350px;
}

tbody{
    max-width: 350px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: auto;
    padding: 0;
    background-color: white;
}
/*-----------------------------Main content------------------------------*/

.request-link{
    position: fixed;
    right: 10px;
    top: 30%;
    background-color: rgb(14,18,113);
    text-decoration: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    width: 150px;
    height: 35px;
    text-align: center;
    box-sizing: content-box;
    font-family: 'dinpro-regular';

}

.main-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.complex-title{
    margin: 15px;
}

.service-info{
    max-width: 800px;
    max-height: 600px;
}

.complex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    margin: 20px;

}

.complex-item{
    padding: 6px 0 5px 45px;
    width: 400px;
    min-width: 30%;
    height: 30px;
    margin: 12px;
    text-align: left;
    background-image: url("img/ok.png");
    background-repeat: no-repeat;
}

.why-we{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}

.exp-title{
    margin: 15px;
    font-size: 25px;
}

.exp-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.exp-item{
    margin: 15px;
    max-width: 1000px;
}

.service-scheme{
    margin: 30px;
}

.request-title{
    font-size: 30px;
    margin: 10px;
}

.machine-card{
    margin: 30px;
    width: 700px;
    height: 600px;
    border: 1px solid black;
    display: inline-block;
}

.request-contacts{
    height: 600px;
    width: 700px;
    font-size: 25px;
}

input{
    width: 250px;
}

.submit-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-mit{
    font-size: 30px;
}

.message{
    width: 350px;
    height: 150px;
}

.table-logo{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact{
    text-align: center;
}




/*------------------------------Footer--------------------------------------*/
footer{
    display: inline-block;
    background: darkgray;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkgray;
    margin: 15px;
}
.social-media{
    display: flex;
    flex-direction: row;

}
.foot-media{
    display: flex;
    justify-content: center;
}

.profile{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.legal-address{
    display: flex;
    justify-content: center;
    font-family: SansSerif;
}

.contact-number{
    font-family: SansSerif;
    display: flex;
    justify-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



