<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ремонт спецтехники Komatsu</title>
    <link href="service.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="tab-wrapper">
    <a href="../../index.html#request" class="request-link">Оставить заявку</a>
</div>
<article class="body-site">
    <header class="header">
        <nav class="nav">
            <section class="nav-list">
                <a class="list-item" href="../../index.html">Запчасти</a>
                <a class="list-item">Ремонт</a>
                <a class="list-item" href="../../components/delivery/delivery.html">Доставка</a>
                <a class="list-item" href="../../components/contacts/contacts.html">Контакты</a>
                <a class="list-item" href="../../components/about/about.html">О нас</a>
            </section>
        </nav>
        <section class="sub-header">
            <section class="sp-wrapper">
                <section class="sp-logo">
                    <a href="../../index.html">
                        <img class="logo-item" src="../../img/logo.png" alt="company_logo">
                    </a>
                </section>
                <section class="sp-text">
                    <p class="sp-text">Доставка по всей России.<br>
                        Принимаем звонки с 9:00 до 21:00 <br>по Московскому времени.<br>
                        Заказы на сайте принимаются круглосуточно.</p>
                </section>
                <section class="sp-phone">
                    <h2 class="phone">8 (921) 183-99-66</h2>
                    <h2 class="phone">8 (921) 094-32-32</h2>
                </section>
                <section class="sp-private">
                    <a class="sign-tab">
                        <img src="../../img/registr-icon.png" class="private-img" alt="signin tab image">
                        <p class="private-text">
                            Вход
                        </p>
                    </a>
                    <a class="active-tab" href="../../components/private_cabinet/private_cabinet.html">
                        <img src="../../img/signin-icon.png" class="active-img" alt="active image">
                        <p class="active-title"></p>
                    </a>
                    <div class="signUp-div">
                        <form class="signUpForm">
                            <fieldset class="field-signUp">
                                <legend>Регистрация</legend>
                                <table class="field-signUp">
                                    <tr>
                                        <td>Логин :</td>
                                        <td>
                                            <input name="login" class="log" type="text" placeholder="login">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Почта :</td>
                                        <td>
                                            <input name="email" class="email" type="email" placeholder="email">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Пароль :</td>
                                        <td>
                                            <input name="password" class="pass" type="password" placeholder="*****">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Повторите пароль :</td>
                                        <td>
                                            <input name="passwordConfirm" type="password" placeholder="*****">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Организация :</td>
                                        <td>
                                            <input name="company" class="company" type="text" placeholder="company">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Телефон :</td>
                                        <td>
                                            <input name="phone" class="phone" type="text" placeholder="12345" style="font-size: 18px">
                                        </td>
                                    </tr>
                                </table>
                                <input class="sub-signUp" type="button" value="Зарегистрироваться">
                            </fieldset>
                            <span class="close-signUp">&times;</span>
                            <button class="toggle-btnUp">Форма входа</button>
                        </form>
                    </div>
                    <div class="signIn-div">
                        <form class="signInForm">
                            <fieldset class="field-signUp">
                                <legend>Вход</legend>
                                <table>
                                    <tr>
                                        <td>Логин:</td>
                                        <td>
                                            <input name="loginIn" class="logEntr" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Пароль:</td>
                                        <td>
                                            <input name="passwordIn" class="passEntr" type="password">
                                        </td>
                                    </tr>
                                </table>
                                <input class="sub-signIn" type="button" value="Отправить">
                            </fieldset>
                        </form>
                        <span class="close-signIn">&times;</span>
                        <button class="toggle-btnIn">Форма регистрации</button>
                    </div>
                </section>
            </section>
        </section>
    </header>
    </header>
    <main>
        <section class="main-section">
            <h2 class="complex-title">Компания Детали и Сервис занимается комплексным обслуживанием спецтехники</h2>
            <img src="img/service-info.png" alt="service-info image" class="service-info">
            <section class="complex-box">
                <section class="left-side">
                    <article class="complex-item">
                        Техническое обслуживание
                    </article>
                    <article class="complex-item">
                        Гарантийный и послегарантийный ремонт
                    </article>
                    <article class="complex-item">
                        Диагностика неисправности
                    </article>
                    <article class="complex-item">
                        Замена комплектующих
                    </article>
                    <article class="complex-item">
                        Установка дополнительного оборудования
                    </article>
                </section>
                <section class="right-side">
                    <article class="complex-item">
                        Диагностика и ремонт двигателей
                    </article>
                    <article class="complex-item">
                        Ремонт ходовой части
                    </article>
                    <article class="complex-item">
                        Установка накидных гусениц
                    </article>
                    <article class="complex-item">
                        Замена и ремонт гидравлики
                    </article>
                    <article class="complex-item">
                        Ремонт электрического оборудования
                    </article>
                </section>
            </section>
            <section class="why-we">
                <h3 class="exp-title">Почему мы?</h3>
                <ul class="exp-list">
                    <li class="exp-item">Большой опыт работы, необходимое оборудование, квалифицированные мастера – вот три слагаемых нашего успеха.</li>
                    <li class="exp-item">Работая на выезде, мы сэкономим ваше время, деньги, поскольку отпадет необходимость транспортировки в сервисный центр.</li>
                    <li class="exp-item">В тяжелых случаях, когда устранение поломки на территории заказчика невозможно, согласовывается удобный вариант доставки в стационарный центр.</li>
                    <li class="exp-item">Минимально возможные сроки ремонта и восстановления работоспособности.</li>
                    <li class="exp-item">Гибкая система скидок.</li>
                </ul>
            </section>
            <img src="img/work-scheme.png" alt="service scheme image" class="service-scheme">

        </section>
    </main>
    <footer>
        <section class="foot">
            <article class="foot-info">
                <h3 class="legal-address">ООО "Детали и Сервис" г. Санкт-Петербург, проспект Обуховской Обороны дом 76, корпус 7, офис 2203А</h3>
                <h3>Время работы: Понедельник-Пятница 09:00 - 19:00</h3>
                <h3>Заявки принимаются в любое время, в любой день недели!</h3>
            </article>
            <article class="contacts">
                <p class="foot-media">
                    Мы в социальных сетях:
                </p>
                <p class="contact-number">
                    тел. 8 (921) 183-99-66
                </p>
                <div class="social-media">
                    <img class="profile instagram" src="../../img/logos/instagram_logo.png" alt="instagram logo">
                    <img class="profile vk" src="../../img/logos/vk-logo.png" alt="vk logo">
                    <img class="profile telegram" src="../../img/logos/telegram_logo.png" alt="telegram logo">
                    <img class="profile whats-app" src="../../img/logos/whatsapp_logo.png" alt="whats-app logo">
                </div>
            </article>
        </section>
    </footer>
</article>
<script src="service.js"></script>
</body>
</html>