.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    background: url("../assets/images/footer.jpg") no-repeat center/cover;
    color:white;
}
.text{
    color:white;
    font-family: Arial;
}
.socialNetContainer{
    display: flex;
    list-style-type: none;
}
.socialItem{
    padding: 0 5px;
}
.linkSocialItem{
    text-decoration: none;
    color:white;
    font-size: 30px;
}
.socialItem:hover{
    transform: scale(1.3);
}